<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Host=localhost;Port=5432;Database=Otus_HomeWork_Lesson_4_DB_Avito;Username=postgres;Password=password"
			providerName="Microsoft.EntityFrameworkCore"/>
	</connectionStrings>
</configuration>